body {
    background-color: #474D53;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

.card{
    background-color: var(--dark);
    color: var(--white);
}
.opacity-50
{
    opacity: 50%;
}
